.password_background {
    
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    overflow: hidden;
}


.password_wrapper {
    width: 400px;
    height: 370px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    position: fixed;
    left: 35%;
    top: 7%;
    z-index: 100;
    
}


.password_header {
    width: 400px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    font-size: 22px;

    border: 1px solid red
    
}

.password_input {
    width: 380px;
    height: 101px;
    padding-left: 20px;
    border: 1px solid blue;
}

.password_input span {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    text-align: left;
}

.password_input input {
    width: 360px;
    height: 45px;
    border: 1px solid #e1e2e3;
    background-color: #ffffff;
    font-size: 15px;
    color: #333;
    border-radius: 5px;
    margin-top: 10px;    

}
.password_input input:focus {
    border: 1px solid #3366ff;
    outline: none;
}


.password_next {
    position: relative;
    top: -5%;
}

.password_next button {
    width: 370px;
    height: 54px;
    border-radius: 27px;
    background-color: #3366ff;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.password_next button:disabled {
    background-color: #dadada;
    color: white;
}

.password_next i {
    margin-right: 10px;
}

.password_change {
    
    width: 360px;
    text-align: center;
   
}

.password_change button {
   
    padding: 0px 10px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    color: #3366ff;
    font-weight: 600;
    
}

